/*narrow screens*/
@media all and (max-width: 900px) {
    .list-view.editing .toolbar,
    .list-view.editing .contact-grid {
        display: none;
    }
}

a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}