.budget-list-view ol {
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
}

.budget-list-view li {
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, box-shadow;
}

.budget-list-view li:hover {
    background-color: var(--lumo-base-color);
    box-shadow: var(--lumo-box-shadow-s);
}

.budget-dialog {
    width: 40rem !important;
    height: 40rem;
}

@media all and (max-width: 800px) {
    .budget-dialog {
        width: 22rem !important;;
        height: 22rem;
    }
}

