.logo-image-login {
    width: 7rem;
    height: 7rem;
}

.to-login {
    /*width: 100% !important;*/
    justify-content: left;

}
@media all and (max-width: 500px) { /* very small screen */
    .logo-image-login {
        width: 4rem;
        height: 4rem;
    }

    .app-name-reg {
        font-size: 2em;
    }

    .title {
        font-size: 1em;
    }
}


@media all and (max-width: 380px) { /* very small screen */
    .logo-image-login {
        width: 2rem;
        height: 2rem;
    }

    .app-name-reg {
        font-size: 2em;
    }

    .title {
        font-size: 1em;
    }
}