@media all and (max-width: 920px) {
    .grids-layout {
        display: none;
    }
}

.income-grid {
    margin-left: 8rem;
}

.expense-grid {
    margin-right: 2rem;
}

.grid-header {
    font-size: 1.2rem;
    font-weight: 900;
}

.grids-layout {
    margin-top: -1.5rem;
    grid-gap: 3rem;
}